.content-box {
    border-top-color: #00c0ef;
}
.content-box-header {
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}
.box-header-title {
	display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
    padding-top: 5px;
}
.btn-back {
	margin-right: 8px;
}
.panel-create {
	border: none;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	border-radius: 0;
}
.images-browse span {
	margin-left: 10px;
}
.images-preview {
	text-align: left;
	overflow: hidden;
}
.images-preview ul {
	text-align: left;
	overflow: hidden;
	padding: 0px;
}
.images-preview ul li {
	float: left;
	list-style: none;
	padding-right: 10px;
	padding-bottom: 15px;
}
.images-preview img {
	width:140px;
	height: 140px;
}
.ui-state-highlight {
	width:140px;
	height: 140px;
	border:dashed 1px #ccc;
	background-color: #fff;
}
.images-preview {
	display: none;
}
.show-remove {
	display: none;
	height: 30px;
    line-height: 30px;
    text-align: right;
    color: white;
  	background: rgba(0, 0, 0, 0.5);
    padding-right: 10px;
    z-index: 99;
    position: absolute;
    width: 140px;
}
.remove-image {
	cursor: pointer;
}
