
.content-box {
	position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    width: 100%;
    min-height: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin:0 auto;
    padding:10px 0px;
}
.content-box-header {
    padding-bottom: 5px;
}
.table-header {
    padding:10px;
    padding-bottom: 5px;
    padding-top: 0px;
}
.table-footer {
    padding:10px;
}
.table-search {
    width: 25%;
    min-width: 200px;
    display: inline-block;
    padding-left: 30px;
    border-radius: 5px;
}
.table-search-icon {
    position: absolute;
    /*left: 15px;*/
    /*top: 10px;*/
    z-index: 9999;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    color: #747474;
    font-size: 16px;
}
.btn.btn-new {
    margin-right: 8px;
}
th.select-all, td.select-all {
    width: 80px;
}
th.action, td.action {
    width: 80px;
    text-align: center;
}

.dataTables_length {
    /*width: 108px;*/
    margin-right: 15px;
}
.dataTables_filter {
    /*margin-left: 128px;*/
}
.table-length {
    display: inline;
    width: 70px;
    border-radius: 5px;
    padding: 4px 10px;
    height: 31px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border:solid 1px #ddd;
    /*padding:6px 12px;*/
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin-left: -1px;
    color: #337ab7;
    font-size: 14px;
    text-decoration: none;
    background-color: #fff;
    border-radius: none;
}
.paginate_button.previous {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.paginate_button.next {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.table-edit-icon {
    cursor: pointer;
    color: #3c8dbc;
}
.table-trash-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #c12e2a;
}


