/** login */
body {
    overflow: hidden;
    /*background: #18212D;*/
}
.anime {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2rem;
    height: 2rem;
    margin: -1rem 0 0 -1rem;
    background: #FFF;
    transform: scale(0);
    border-radius: 50%;
}
.login-panel {
	position: absolute;
	top: 30%;
}
.login-heading {
    font-weight: bold;
}
.form-group {
	margin-top: 15px;
	margin-bottom: 25px;
}
input.form-control {
	padding-left: 30px;
}
.login-input-icon {
	position: absolute;
    left: 15px;
    z-index: 9999;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    color: #00aeff;
    font-size: 16px;
}
.has-error .login-input-icon {
	color: #fe514a;
}
.has-error .form-control {
	border-color: #fe514a;
}
.has-error .help-block {
	color: #fe514a;
}
